.advantages {
  padding-bottom: 110px;

  &__inner {
    max-width: 1030px;
    background-image: url('../images/advantages/delivery.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto;
    margin: 0 auto;
  }

  &__title,
  &__text,
  &__list {
    margin-bottom: 30px;
  }

  &__title {
    text-align: left;
  }

  &__title-decor {
    display: block;
  }

  &__list-item {
    position: relative;
    padding: 2px 0 2px 61px;
    font-size: 24px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 34px;
      height: 34px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &--time::before {
      background-image: url('../images/icons/time.svg');
    }

    &--delivery::before {
      background-image: url('../images/icons/delivery.svg');
    }

    &--building::before {
      background-image: url('../images/icons/building.svg');
    }
  }

  &__info {
    max-width: 470px;
    padding: 60px 0;
    margin-left: auto;
  }

  &__button {
    padding: 12px 32px;
    font-size: 18px;
  }
}