.advantages {
  padding-bottom: 110px;

  @media (max-width: $lg) {
    padding-bottom: 80px;
  }

  @media(max-width: $md) {
    padding-bottom: 60px;
  }

  @media(max-width: $sm) {
    padding-bottom: 40px;
  }

  &__inner {
    max-width: 1030px;
    background-image: url('../images/advantages/delivery.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    margin: 0 auto;

    @media(max-width: $lg) {
      background-image: linear-gradient(0deg, $transparent-900), url('../images/advantages/delivery.png');
    }
  }

  &__title,
  &__text,
  &__list {
    margin-bottom: 30px;

    @media (max-width: $sm) {
      margin-bottom: 22px;
    }
  }

  &__title {
    text-align: left;
  }

  &__text {
    @media (max-width: $md) {
      font-size: 18px;
    }

    @media (max-width: $sm) {
      font-size: 16px;
    }
  }

  &__title-decor {
    display: block;
  }

  &__list-item {
    position: relative;
    padding: 2px 0 2px 61px;
    font-size: 24px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 34px;
      height: 34px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &--time::before {
      background-image: url('../images/icons/time.svg');
    }

    &--delivery::before {
      background-image: url('../images/icons/delivery.svg');
    }

    &--building::before {
      background-image: url('../images/icons/building.svg');
    }

    @media (max-width: $md) {
      font-size: 20px;
    }

    @media (max-width: $sm) {
      font-size: 18px;
    }
  }

  &__info {
    max-width: 470px;
    padding: 60px 0;
    margin-left: auto;

    @media (max-width: $md) {
      padding: 40px 0;
    }

    @media (max-width: $sm) {
      padding: 25px 0;
    }
  }

  &__button {
    padding: 12px 32px;
    font-size: 18px;

    @media (max-width: $sm) {
      font-size: 14px;
    }
  }
}