.app {

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__content {
    max-width: 540px;
    margin-right: 30px;
  }

  &__title {
    margin-bottom: 45px;
    text-align: left;
  }

  &__text {
    margin-bottom: 35px;
  }

  &__link {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40px;

    &:not(:last-child){
      margin-right: 25px;
    }
  }

  &__link--apple {
    width: 120px;
    background-image: url('../images/icons/appStore.svg');
  }

  &__link--google {
    width: 135px;
    background-image: url('../images/icons/gStore.svg');
  }
}