.app {

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: $xl) {
      justify-content: center;
    }
  }

  &__content {
    max-width: 540px;
    margin-right: 30px;

    @media (max-width: $xl) {
      margin-right: 0;
    }
  }

  &__title {
    margin-bottom: 45px;
    text-align: left;

    @media (max-width: $xl){
      text-align: center;
    }

    @media (max-width: $md) {
      margin-bottom: 30px;
    }

    @media (max-width: $sm) {
      margin-bottom: 15px;
    }
  }

  &__text {
    margin-bottom: 35px;

    @media (max-width: $md) {
      font-size: 16px;
      margin-bottom: 25px;
    }

    @media (max-width: $sm) {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }

  &__links{
    @media (max-width: $xl){
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
    }
  }

  &__link {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40px;

    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__link--apple {
    width: 120px;
    background-image: url('../images/icons/appStore.svg');
  }

  &__link--google {
    width: 135px;
    background-image: url('../images/icons/gStore.svg');
  }

  &__img {
    @media (max-width: $sm) {
      display: none;
    }
  }
}