.contacts {
  &__list {
    margin-bottom: 10px;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: $dark-900;
    letter-spacing: 0.01em;
    border: none;

    &:hover .contacts__svg {
      stroke: $accent-900;
    }

    &:active .contacts__svg {
      stroke: $dark-900;
    }
  }

  &__svg {
    color: transparent;
    stroke: $dark-900;
    margin-right: 12px;
    transition: stroke 0.5s;
  }
}