.footer {
  &__inner {
    display: flex;
    gap: 70px;
    margin-bottom: 55px;
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__list {
    display: grid;
    grid-template-columns: 210px 160px 187px;
    gap: 15px;
  }

  &__list-link {
    font-size: 18px;
    letter-spacing: 0.01em;
    transition: color 0.3s, text-shadow 0.3s, box-shadow 0.3s;
    border-radius: 5px;

    &:focus {
      box-shadow: 0px 0px 0px 2px $transparent-100;
    }

    &:hover {
      color: $accent-900;
    }

    &:active {
      text-shadow: 2px 2px 5px $transparent-200;
    }
  }

  &__copyright {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    border-top: 1px solid $transparent-500;
    font-size: 14px;
  }

}

.contacts {
  &__list {
    margin-bottom: 10px;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: $dark-900;
    letter-spacing: 0.01em;
    border: none;

    &:hover .contacts__icon {
      stroke: $accent-900;
    }

    &:active .contacts__icon {
      stroke: $dark-900;
    }
  }

  &__icon {
    color: transparent;
    stroke: $dark-900;
    margin-right: 12px;
    transition: stroke 0.5s;
  }
}