.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  background-color: $light-100;
  border: 1px solid $silver-200;
  height: 100%;
  border-radius: 5px;
  padding: 10px 15px 20px;
  transition: border-color 0.5s;

  &:hover {
    border-color: $accent-900;
  }

  &__img {
    margin: 0 auto 15px;
  }

  &__title {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 10px;
    transition: color 0.5s, box-shadow 0.5s, text-shadow 0.5s;
  }

  &__link:focus .product-card__title {
    background-color: $transparent-600;
    box-shadow: 0px 0px 0px 2px $transparent-100;
    border-radius: 5px;
    border: none;
  }

  &__link:hover .product-card__title {
    color: $accent-900;
    border: none;
  }

  &__link:active .product-card__title {
    color: $dark-900;
    text-shadow: 2px 2px 5px $transparent-800;
    border: none;
  }

  &__price {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
  }
}