<section class="app section">
  <div class="container">
    <div class="app__inner">
      <div class="app__content">
        <h2 class="app__title section-title">
          Скачайте мобильное приложение
        </h2>
        <p class="app__text">
          Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом удобном
          месте.
        </p>
        <a class="app__link app__link--apple" href="#"></a>
        <a class="app__link app__link--google" href="#"></a>
      </div>
    </div>
  </div>
</section>