<section class="restorants section">
  <div class="container">

    <h2 class="restorants__title section-title">
      Лучшие рестораны
    </h2>

    <ul class="restorants__grid grid-container">
      <li class="restorants__item">

        <article class="restorant-card">
          <a class="restorant-card__link" href="#">
            <img class="restorant-card__img" src="./images/restorants/pizzaBlaze.jpg" alt="пицца из пиццерии Блейз"
              width="370" height="300">
            <div class="restorant-card__info">
              <h3 class="restorant-card__name">
                Blaze Pizza
              </h3>
              <p class="restorant-card__time">
                <time>11:00</time> - <time>22:00</time>
              </p>
            </div>
            <span class="restorant-card__interactive">
              <svg class="restorant-card__icon" width="14" height="12">
                <use href="./images/icons/symbol-defs.svg#arrowRight"></use>
              </svg>
            </span>
          </a>
        </article>

      </li>
      <li class="restorants__item">

        <article class="restorant-card">
          <a class="restorant-card__link" href="#">
            <img class="restorant-card__img" src="./images/restorants/pizzaRuncho.jpg" alt="пицца из пиццерии Рунчо"
              width="370" height="300">
            <div class="restorant-card__info">
              <h3 class="restorant-card__name">
                Pizza Runcho
              </h3>
              <p class="restorant-card__time">
                <time>12:00</time> - <time>21:00</time>
              </p>
              <span class="restorant-card__interactive">
                <svg class="restorant-card__icon" width="14" height="12">
                  <use href="./images/icons/symbol-defs.svg#arrowRight"></use>
                </svg>
              </span>
            </div>
          </a>
        </article>

      </li>
      <li class="restorants__item">

        <article class="restorant-card">
          <a class="restorant-card__link" href="#">
            <img class="restorant-card__img" src="./images/restorants/pizzaHut.jpg" alt="пицца из пиццы Хат"
              width="370" height="300">
            <div class="restorant-card__info">
              <h3 class="restorant-card__name">
                Pizza Hut
              </h3>
              <p class="restorant-card__time">
                <time>11:00</time> - <time>22:00</time>
              </p>
              <span class="restorant-card__interactive">
                <svg class="restorant-card__icon" width="14" height="12">
                  <use href="./images/icons/symbol-defs.svg#arrowRight"></use>
                </svg>
              </span>
            </div>
          </a>
        </article>

      </li>
      <li class="restorants__item">

        <article class="restorant-card">
          <a class="restorant-card__link" href="#">
            <img class="restorant-card__img" src="./images/restorants/mcDonald.jpg" alt="бургер из Мака" width="370"
              height="300">
            <div class="restorant-card__info">
              <h3 class="restorant-card__name">
                McDonald`s
              </h3>
              <p class="restorant-card__time">
                <time>06:00</time> - <time>23:00</time>
              </p>
              <span class="restorant-card__interactive">
                <svg class="restorant-card__icon" width="14" height="12">
                  <use href="./images/icons/symbol-defs.svg#arrowRight"></use>
                </svg>
              </span>
            </div>
          </a>
        </article>

      </li>
      <li class="restorants__item">

        <article class="restorant-card">
          <a class="restorant-card__link" href="#">
            <img class="restorant-card__img" src="./images/restorants/kfc.jpg" alt="картошка и бургер из кэй эф си"
              width="370" height="300">
            <div class="restorant-card__info">
              <h3 class="restorant-card__name">
                KFC
              </h3>
              <p class="restorant-card__time">
                <time>06:00</time> - <time>23:30</time>
              </p>
              <span class="restorant-card__interactive">
                <svg class="restorant-card__icon" width="14" height="12">
                  <use href="./images/icons/symbol-defs.svg#arrowRight"></use>
                </svg>
              </span>
            </div>
          </a>
        </article>

      </li>
      <li class="restorants__item">

        <article class="restorant-card">
          <a class="restorant-card__link" href="#">
            <img class="restorant-card__img" src="./images/restorants/starBurgers.jpg"
              alt="картошка и бургер из Стар Бургер" width="370" height="300">
            <div class="restorant-card__info">
              <h3 class="restorant-card__name">
                Star Burgers
              </h3>
              <p class="restorant-card__time">
                <time>09:00</time> - <time>21:00</time>
              </p>
              <span class="restorant-card__interactive">
                <svg class="restorant-card__icon" width="14" height="12">
                  <use href="./images/icons/symbol-defs.svg#arrowRight"></use>
                </svg>
              </span>
            </div>
          </a>
        </article>

      </li>
    </ul>

  </div>
</section>