<section class="review section">
  <div class="container">

    <h2 class="review__title section-title">
      Отзывы клиентов
    </h2>

    <ul class="review__list">
      <li class="review__item">
        <div class="review__item-inner">
          <img class="review__img" src="./images/review/1.png" alt="Дарья - ценитель вкусной еды" width="300"
            height="300">
          <figure class="review__content">
            <blockquote class="review__text">
              <span class="review__text-inner">
                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
                приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки
                на
                доставку - однозначно рекомендую!
              </span>
            </blockquote>
            <figcaption class="review__author">
              Дарья
              <span class="review__author-info">
                Ценитель вкусной еды
              </span>
            </figcaption>
          </figure>
        </div>
      </li>
      <li class="review__item">
        <div class="review__item-inner">
          <img class="review__img" src="./images/review/1.png" alt="Дарья - ценитель вкусной еды" width="300"
            height="300">
          <figure class="review__content">
            <blockquote class="review__text">
              <span class="review__text-inner">
                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
                приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки
                на
                доставку - однозначно рекомендую!
              </span>
            </blockquote>
            <figcaption class="review__author">
              Дарья
              <span class="review__author-info">
                Ценитель вкусной еды
              </span>
            </figcaption>
          </figure>
        </div>
      </li>
      <li class="review__item">
        <div class="review__item-inner">
          <img class="review__img" src="./images/review/1.png" alt="Дарья - ценитель вкусной еды" width="300"
            height="300">
          <figure class="review__content">
            <blockquote class="review__text">
              <span class="review__text-inner">
                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
                приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки
                на
                доставку - однозначно рекомендую!
              </span>
            </blockquote>
            <figcaption class="review__author">
              Дарья
              <span class="review__author-info">
                Ценитель вкусной еды
              </span>
            </figcaption>
          </figure>
        </div>
      </li>
      <li class="review__item">
        <div class="review__item-inner">
          <img class="review__img" src="./images/review/1.png" alt="Дарья - ценитель вкусной еды" width="300"
            height="300">
          <figure class="review__content">
            <blockquote class="review__text">
              <span class="review__text-inner">
                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
                приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки
                на
                доставку - однозначно рекомендую!
              </span>
            </blockquote>
            <figcaption class="review__author">
              Дарья
              <span class="review__author-info">
                Ценитель вкусной еды
              </span>
            </figcaption>
          </figure>
        </div>
      </li>
    </ul>

  </div>
</section>